@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sideBar{
    width: 7rem; /* Ancho fijo */
    height: calc(100vh - 32px); /* Ocupa toda la altura de la pantalla */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.sideBar h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #ff6f61;
    text-shadow: 
    2px 2px 0 #ffcc00,
    4px 4px 0 #ff6f61,
    6px 6px 0 #00bcd4;
    background: linear-gradient(45deg, #ff6f61, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    filter: brightness(1.2);
}

.SidebarIcon {
    margin-top: 15px;
    font-size: 2.5rem; 
    color: #ffcc00; 
    transition: all 0.3s ease; 
  }
  
  .SidebarIcon:hover {
    background: linear-gradient(45deg, #ffcc00, #ff6f61); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    filter: drop-shadow(2px 2px 0 #ffcc00) 
            drop-shadow(4px 4px 0 #ff6f61) 
            drop-shadow(6px 6px 0 #00bcd4)
            brightness(1.2); 
  }